<div class="container-fluid g-0">
  <div class="row g-0">
    <div class="col">
      <div class="bg-warning topNavColor"></div>
    </div>
    <div class="col">
      <div class="bg-primary topNavColor"></div>
    </div>
    <div class="col">
      <div class="bg-warning topNavColor"></div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-light bg-light fixed-top shadow-sm mb-5 bg-body rounded"
>
  <div class="container">
    <h4 class="text-primary">Columbus</h4>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <!-- <button class="btn btn-info px-4 me-2">Log in</button> -->
          <span class="border rounded p-2 ms-3" routerLink="/signin"><i class="bi bi-box-arrow-left me-2"></i>Log Out</span>
        <span class="bi bi-person-check-fill text-success ms-2" style="font-size: 30px;"></span>({{datas.studentDto.universityRollNo}}<strong>{{datas.studentDto.firstName}}</strong>)
      </div>
    </div>

      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div
      class="offcanvas offcanvas-end text-bg-light"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >

    
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Columbus</h5>
        <button
          type="button"
          class="btn-close btn-close-dark"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/student/view_profile"
              routerLinkActive="active"
              >Personal Info</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/view_profile/{{datas.studentDto.universityRollNo}}/payfees">Pay Fees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/view_profile/{{datas.studentDto.universityRollNo}}/result">Result</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/view_profile/{{datas.studentDto.universityRollNo}}/raise">Raise Query</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/view_profile/{{datas.studentDto.universityRollNo}}/contactus"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/view_profile/{{datas.studentDto.universityRollNo}}/aboutus">About Us</a>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<section class="text-center text-sm-start project-background">
  <div class="container mt-3">
    <div class="d-sm-flex justify-content-between align-items-center">
      <div class="callout-info mt-5">
        <h4 class="display-4 fw-bold">
          Welcome to <span class="text-warning">student details...</span>
        </h4>
        <p class="mb-3 lead text-dark">
          The man who does not read books has no advantage over the one who
          cannot read them.
          <span class="text-primary fw-bold">Mark Twain</span>
        </p>
      </div>
      <img
        src="../../assets/images/display1.gif"
        class="img-fluid w-75"
        alt=""
      />
    </div>
  </div>
</section>

<!-- student info start -->
<section class="mb-3">
  <div class="text-center mt-5">
    <button (click)="studentDetails()" class="btn btn-link">
      {{ btnText }}
    </button>
  </div>
  <br />
  <div *ngIf="togglePreview; then personalInfo; else academicInfo"></div>
  <ng-template #personalInfo>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 m-auto">
          <div class="card">
            <div class="card-header">Personal Info</div>
            <div class="card-body">
              <h6>University RollNo: {{datas.studentDto.universityRollNo}}</h6>
              <h6>First Name: {{datas.studentDto.firstName}}</h6>
              <h6>Last Name: {{datas.studentDto.lastName}}</h6>
              <h6>Course: {{datas.studentDto.course}}</h6>
              <h6>Course Name: {{datas.studentDto.courseName}}</h6>
              <h6>Date Of Birth: {{datas.studentDto.dateOfBirth}}</h6>
              <h6>Semester: {{datas.studentDto.semester}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #academicInfo>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 m-auto">
          <div class="card">
            <div class="card-header">Academic Information:</div>
            <div class="card-body">
              <h6>University RollNo:</h6>
              <h6>First Name:</h6>
              <h6>Last Name:</h6>
              <h6>Course:</h6>
              <h6>Course Name:</h6>
              <h6>Date Of Birth:</h6>
              <h6>Semester:</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
<!-- student info end  -->
