<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pay Fee</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <h4 class="noselect">{{data.feeAmount}}</h4> -->
        <div class="input-group mb-3">
          <!-- <label for="">15000 : </label> -->
          <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{ datas.feeDetailsDto.feeAmount }}"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="
              updateFeeDetails(
                datas.feeDetailsDto.universityRollNo,
                datas.feeDetailsDto.feeAmount
              )
            "
          >
            Pay now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5 py-5">
  <div class="my-5 py-5">
    <div class="centerLine"><h4 class="text-center">Pay Fee</h4></div>
    <!-- Nav Start  -->
    
    <!-- Nav End -->

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/student/view_profile"
          >Pay Fees</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/student/view_profile/{{
            datas.feeDetailsDto.universityRollNo
          }}/result"
          >Result</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Raise Query</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link float-end"
          routerLink="/student/view_profile/{{
            this.datas.feeDetailsDto.universityRollNo
          }}"
          >Personal Info</a
        >
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table align-middle table table-bordered">
        <thead>
          <tr>
            <th>Particulars</th>
            <th>Semester</th>
            <th>Pending fee Amount</th>
            <th>Last date</th>
            <th>Late Fee Charges</th>
            <th>Status</th>
            <th>To Pay Fee payment(tick below)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ datas.feeDetailsDto.universityRollNo }}</td>
            <td>{{ datas.feeDetailsDto.semester }}</td>
            <td>{{ datas.feeDetailsDto.feeAmount }}</td>
            <td>{{ datas.feeDetailsDto.lastDate }}</td>
            <td>{{ datas.feeDetailsDto.lateFee }}</td>
            <td>{{ datas.feeDetailsDto.status }}</td>
            <td>
              <!-- <button class="btn btn-info btn-sm" [disabled]="feesAmount"></button> -->
              <!-- [disabled]="feesAmount" -->
              <button
                type="button"
                class="btn btn-info btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Pay Fee
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
