<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pay Fee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <!-- <h4 class="noselect">{{data.feeAmount}}</h4> -->
        <div class="input-group mb-3">
          <!-- <label for="">15000 : </label> -->
          <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
          <input type="text" class="form-control" placeholder={{data.feeAmount}} aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-primary" type="button" id="button-addon2">Pay new</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5 py-5">
  <div class="my-5 py-5">
    
    <div class="centerLine"><h4 class="text-center">Pay Fee</h4></div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active"  aria-current="page" routerLink="/student/view_profile">Pay Fees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student/view_profile/result">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Raise Query</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link float-end" routerLink="/student/view_profile">Personal Info</a>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table align-middle table table-bordered">
        <thead>
          <tr>
            <th>Particulars</th>
            <th>Semester</th>
            <th>Pending fee Amount</th>
            <th>Last date</th>
            <th>Last Fee Charges</th>
            <th>Extension Details</th>
            <th>To Pay Fee payment(tick below)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>D21MCA12137</td>
            <td>3</td>
            <td>{{data.feeAmount}}</td>
            <td>{{data.lastdate}}</td>
            <td>{{data.lastFeeCharges}}</td>
            <td>{{data.extensionDetails}}</td>
            <td>
              <!-- <button class="btn btn-info btn-sm" [disabled]="feesAmount"></button> -->
              <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="feesAmount">
                Pay Fee
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
