.row {
    width: 100vw;
}

.container {
    padding: 0;
    margin-left: 0px;
}

.image img{
    width: 44%;
    height: 90vh;
    margin: auto;
    position: fixed;
  
}
.image{
    margin-top: 80px;
    margin-bottom: 20px;
}
.signup {
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 20px;
}


.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 160px;
   
}

.signup h1{
    display: flex;
    justify-content: center;
}
.actions{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:950px) and (max-height: 1378px) {
    .image img{
        height: 77vw;
    }
}

@media screen and (max-width: 767px) {
    .image{
        margin-top: -30px;
        margin-bottom: -12px;
        margin-left: 100px;
        width: 100vw;
    }
    .image img {
        position: relative;
      width:70vw;
      object-fit: fill;
      height:280px;
     
    }
    .signup{
        margin-left: 20px;
    }
    
}
@media screen and (max-width: 505px) {
    .image{
        margin-left: 50px;
    }
    .image img {
      width:70vw;
      object-fit: fill;
      height:280px;
     
    }
    .signup h1{
        font-size: 23px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 380px){
    .image{
        margin-left: 10px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .logo{
        margin-top: -20px;
    }
    .image img {
        width:90vw;
        object-fit: contain;
        height:280px;
       
      }
      .signup h1{
        font-size: 18px;
        
    }
}

@media screen and (max-width: 380px){
    .signup h1{
        font-size: 15px;
        
    }
}
