
<div class="backgroundColor">
  <div class="text-center">
    <img src="./assets/images/columbus_logo.png" class="img-fluid" alt="Columbus University logo">
  </div>
<section class="container-fluid background">
  <div class="d-flex justify-content-center">
    <div class="card shadow-none bg-body rounded">
      <div class="card-header">
        <h6 class="text-center">SING IN</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="loginform" (ngSubmit)="onSignIn()">
          <div class="">
              <label for="rollno" class="form-label">University Roll Number</label>
              <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1"
                  placeholder="Enter Rollno" formControlName="universityRollNo" [(ngModel)]="registerStudent.universityRollNo" >
              <span *ngIf="!loginform.get('universityRollNo').valid && 
                   loginform.get('universityRollNo').touched" style="color: red;"> please enter valid
                  roll no</span>
              <span *ngIf="submitted && 
                   loginform.get('universityRollNo').untouched" style="color: red;"> please enter roll
                  no</span>
          </div>
          <div class="">
              <label for="password" class="form-label">Password </label>
              <input type="password" class="form-control form-control-sm" id="exampleFormControlInput2"
                  placeholder="Enter password" formControlName="password">
              <span *ngIf="!loginform.get('password').valid && 
                  loginform.get('password').touched" style="color: red;"> please enter password</span>
              <span *ngIf="submitted && 
                  loginform.get('password').untouched" style="color: red;"> please enter password</span>
          </div>
            <div *ngIf= "invalid_cred && submitted" class="alert alert-danger" role="alert">
              <i class="bi bi-exclamation-triangle-fill"></i>
              <!-- <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  -->
              Invalid Credentials
              <button (click)="removeMessage()" type="button" data-bs-dismiss="alert" aria-label="Close">X</button>
            </div>
          <div class="text-center"><a href="">Forgot Password?</a></div>
          <div class="mt-3">
            <button class="btn btn-primary btn-sm me-4" type="submit">Sign In</button>
            <button class="btn btn-success btn-sm" (click)="Register()">Register</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</section>
</div>

