<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand text-primary" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/student/view_profile"
            >Personal Info</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student/view_profile/payfees"
            >Pay Fees</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student/view_profile/result"
            >Result</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student/view_profile/raise"
            >Raise Query</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student/view_profile/contactus"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/student/view_profile/aboutus"
            routerLinkActive="active"
            >About Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="text-center">
    <img
      src="../../../assets/images/columbus_logo.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="row">
    <div class="col-md">
     <div class="shadow-sm p-3 mb-5 bg-body rounded"> <img src="../../../assets/images/college.jpg" class="img-fluid" alt="" /></div>
    </div>
    <div class="col-md">
      <p>
        Columbus University was established in the year 1992 with its
        headquarter at Hyderabad, the divisional headquarter of North
        Chhotanagpur division of the state of JHARKHAND. It is situated at a
        distance of 100 K.M. from Ranchi, The capital of Jharkhand. Columbus
        University is imparting post-graduate teaching and research in Physical
        Science, Life Science, Earth Science, Social Science, Humanities,
        Commerce, Technology and Medical Science. Beside 22 colleges are managed
        and maintained by the university, Hyderabad one of the oldest and well
        established college in the Eastern India(Estd. 1990). Seventy affiliated
        colleges are also imparting teaching up to undergraduate level in all
        the above mentioned subjects and in law, Education, Homeopathy and
        Ayurvedic Medicines. Every year, 900 B.Tech, 4000 graduate in the
        general courses, 550 graduates in professional and vocational courses
        and 500 post graduate including M.Tech. Degree are being awarded. Since
        its inception more than 400 Ph.D. degree have been awarded in all the
        above mentioned subjects, including technology..
      </p>
    </div>
  </div>
</div>
